In [1]:
pip install boto3

Requirement already satisfied: boto3 in c:\python311\lib\site-packages (1.28.59)
Requirement already satisfied: botocore<1.32.0,>=1.31.59 in c:\python311\lib\site-packages (from boto3) (1.31.59)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\python311\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in c:\python311\lib\site-packages (from boto3) (0.7.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\python311\lib\site-packages (from botocore<1.32.0,>=1.31.59->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\python311\lib\site-packages (from botocore<1.32.0,>=1.31.59->boto3) (1.26.17)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.59->boto3) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import boto3
import pandas as pd
from io import StringIO
import time

In [3]:
AWS_ACCESS_KEY = "AKIA6ODR652C4BX4S3UO"
AWS_SECRET_KEY = "GUc1X6WX38MB5nyz+ArDk********/bGsuye"
AWS_REGION = "ap-south-1"
SCHEMA_NAME = "covid_data1"
S3_STAGING_DIR = "s3://athenaoutputcovid1/Unsaved/"
S3_BUCKET_NAME = "athenaoutputcovid1"
S3_OUTPUT_DIRECTORY = "Unsaved"

In [4]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

In [5]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id= AWS_ACCESS_KEY,
        aws_secret_access_key= AWS_SECRET_KEY,
        region_name = AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [6]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM usa_hospital_bedsus_states",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
#enigma_jhud = download_and_load_query_results(athena_client, response)

In [7]:
response

{'QueryExecutionId': 'ec99aee7-7262-42e2-b95f-d682bfbd494d',
 'ResponseMetadata': {'RequestId': '044d21dc-3e73-4074-b9e4-373a6c34344b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:01 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '044d21dc-3e73-4074-b9e4-373a6c34344b'},
  'RetryAttempts': 0}}

In [8]:
hospital_bedsus_states = download_and_load_query_results(athena_client, response)

In [9]:
hospital_bedsus_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [10]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM ny_times_data_inusaus_states",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [11]:
response

{'QueryExecutionId': '127a61d8-92ae-4133-9557-7b18e1da9b3a',
 'ResponseMetadata': {'RequestId': '58fe8972-5560-4cbb-a774-3c714957338c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:06 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '58fe8972-5560-4cbb-a774-3c714957338c'},
  'RetryAttempts': 0}}

In [12]:
ny_times_data_inusaus_states = download_and_load_query_results(athena_client, response)

In [13]:
ny_times_data_inusaus_states

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
3749  2020-05-09       Virginia    51  23196     827
3750  2020-05-09     Washington    53  17763     925
3751  2020-05-09  West Virginia    54   1347      53
3752  2020-05-09      Wisconsin    55   9939     398
3753  2020-05-09        Wyoming    56    653       7

[3754 rows x 5 columns]

In [14]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_dtacountrycode",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [15]:
response

{'QueryExecutionId': 'ac6c9c4e-7b89-45e7-b274-ca0602a4afeb',
 'ResponseMetadata': {'RequestId': '410f59fc-d8c1-4ac7-a520-1867d961d055',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:10 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '410f59fc-d8c1-4ac7-a520-1867d961d055'},
  'RetryAttempts': 0}}

In [16]:
static_data_countrycode = download_and_load_query_results(athena_client, response)

In [17]:
static_data_countrycode

,country,alpha-2 code,alpha-3 code,numeric code,latitude,longitude
0,Afghanistan,AF,AFG,4.0,33.0000,65.0
1,Albania,AL,ALB,8.0,41.0000,20.0
2,Algeria,DZ,DZA,12.0,28.0000,3.0
3,American Samoa,AS,ASM,16.0,-14.3333,-170.0
4,Andorra,AD,AND,20.0,42.5000,1.6
...,...,...,...,...,...,...
251,Wallis and Futuna,WF,WLF,876.0,-13.3000,-176.2
252,Western Sahara,EH,ESH,732.0,24.5000,-13.0
253,Yemen,YE,YEM,887.0,15.0000,48.0
254,Zambia,ZM,ZMB,894.0,-15.0000,30.0
255,Zimbabwe,ZW,ZWE,716.0,-20.0000,30.0

In [18]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_dtacountypopulation",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [19]:
response

{'QueryExecutionId': '9cb9ce70-2852-4b25-92ab-45b2b1d0ba36',
 'ResponseMetadata': {'RequestId': '0176bc86-bcce-4da7-9cb9-4735dff931ba',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:13 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '0176bc86-bcce-4da7-9cb9-4735dff931ba'},
  'RetryAttempts': 0}}

In [20]:
static_data_country_population = download_and_load_query_results(athena_client, response)

In [21]:
static_data_country_population

,id,id2,county,state,population estimate 2018
0,0500000US01001,1001,Autauga,Alabama,55601
1,0500000US01003,1003,Baldwin,Alabama,218022
2,0500000US01005,1005,Barbour,Alabama,24881
3,0500000US01007,1007,Bibb,Alabama,22400
4,0500000US01009,1009,Blount,Alabama,57840
...,...,...,...,...,...
3215,0500000US72145,72145,Vega Baja Municipio,Puerto Rico,50185
3216,0500000US72147,72147,Vieques Municipio,Puerto Rico,8364
3217,0500000US72149,72149,Villalba Municipio,Puerto Rico,21476
3218,0500000US72151,72151,Yabucoa Municipio,Puerto Rico,32158
3219,0500000US72153,72153,Yauco Municipio,Puerto Rico,33860

In [22]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_dtastate_abv",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [23]:
response

{'QueryExecutionId': '97b0beba-70e2-409a-8179-6b9c269dd523',
 'ResponseMetadata': {'RequestId': 'bf782d19-dcf2-4a20-a4dd-d81ff1ede3bb',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:16 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'bf782d19-dcf2-4a20-a4dd-d81ff1ede3bb'},
  'RetryAttempts': 0}}

In [24]:
static_datastate_abv = download_and_load_query_results(athena_client, response)

In [25]:
static_datastate_abv

                    col0          col1
0                  State  Abbreviation
1                Alabama            AL
2                 Alaska            AK
3                Arizona            AZ
4               Arkansas            AR
5             California            CA
6               Colorado            CO
7            Connecticut            CT
8               Delaware            DE
9   District of Columbia            DC
10               Florida            FL
11               Georgia            GA
12                Hawaii            HI
13                 Idaho            ID
14              Illinois            IL
15               Indiana            IN
16                  Iowa            IA
17                Kansas            KS
18              Kentucky            KY
19             Louisiana            LA
20                 Maine            ME
21               Montana            MT
22              Nebraska            NE
23                Nevada            NV
24         New Hampshire            NH
25            New Jersey            NJ
26            New Mexico            NM
27              New York            NY
28        North Carolina            NC
29          North Dakota            ND
30                  Ohio            OH
31              Oklahoma            OK
32                Oregon            OR
33              Maryland            MD
34         Massachusetts            MA
35              Michigan            MI
36             Minnesota            MN
37           Mississippi            MS
38              Missouri            MO
39          Pennsylvania            PA
40          Rhode Island            RI
41        South Carolina            SC
42          South Dakota            SD
43             Tennessee            TN
44                 Texas            TX
45                  Utah            UT
46               Vermont            VT
47              Virginia            VA
48            Washington            WA
49         West Virginia            WV
50             Wisconsin            WI
51               Wyoming            WY

In [26]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_dtastates_daily",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [27]:
response

{'QueryExecutionId': '7679bfcd-8e40-4efd-8e2e-23e947e0b271',
 'ResponseMetadata': {'RequestId': 'fd87b6fc-ecf6-408c-9f45-f92e042cbce3',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:19 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'fd87b6fc-ecf6-408c-9f45-f92e042cbce3'},
  'RetryAttempts': 0}}

In [28]:
static_dataset_daily = download_and_load_query_results(athena_client, response)

In [29]:
static_dataset_daily

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,20210119,UT,326221,NaN,1385896.0,NaN,totalTestsViral,2472897,638.0,12645.0,...,NaN,7.0,69.0,c4e353a904e4bb014f1155a257dd31d5bd87d31f,0.0,0.0,0.0,0.0,0.0,NaN
2681,20210119,VA,451076,84917.0,NaN,350.0,totalTestEncountersViral,4878157,3173.0,20066.0,...,NaN,59.0,84.0,1ecd4c4abd7f4e6777e897a255f6d1fb76a7d189,0.0,0.0,0.0,0.0,0.0,NaN
2682,20210119,VI,2260,NaN,37119.0,112.0,posNeg,39379,NaN,NaN,...,NaN,0.0,0.0,12b2c89922709ee808c87895e10d96bf0fdf4d69,0.0,0.0,0.0,0.0,0.0,NaN
2683,20210119,VT,10321,262.0,280334.0,NaN,totalTestsViral,813355,43.0,NaN,...,NaN,0.0,0.0,b42f5e0224e297b2500be4a69fc6d73b9a93c9f7,0.0,0.0,0.0,0.0,0.0,NaN
2684,20210119,WA,289939,12535.0,NaN,NaN,totalTestEncountersViral,4233758,1066.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_dtaus_states",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [31]:
response

{'QueryExecutionId': 'f4f920b8-1a23-4ab3-895b-8e72ac37a1ce',
 'ResponseMetadata': {'RequestId': 'b6b29601-a74d-49cf-bbc3-dcd618e10bb6',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:28 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b6b29601-a74d-49cf-bbc3-dcd618e10bb6'},
  'RetryAttempts': 0}}

In [32]:
static_dataus_states = download_and_load_query_results(athena_client, response)

In [33]:
static_dataus_states

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
3749  2020-05-09       Virginia    51  23196     827
3750  2020-05-09     Washington    53  17763     925
3751  2020-05-09  West Virginia    54   1347      53
3752  2020-05-09      Wisconsin    55   9939     398
3753  2020-05-09        Wyoming    56    653       7

[3754 rows x 5 columns]

In [34]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_dtausa_hospital_beds_geojson_4cca297c",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [35]:
response

{'QueryExecutionId': '578a433e-6061-4c80-8c88-cd825b2b07b9',
 'ResponseMetadata': {'RequestId': '0b8a0fbe-c7d1-44c5-96a2-e124df67814f',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:32 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '0b8a0fbe-c7d1-44c5-96a2-e124df67814f'},
  'RetryAttempts': 0}}

In [36]:
static_data_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [37]:
static_data_usa_hospital_beds

Empty DataFrame
Columns: [objectid, hospital_name, hospital_type, hq_address, hq_address1, hq_city, hq_state, hq_zip_code, county_name, state_name, state_fips, cnty_fips, fips, num_licensed_beds, num_staffed_beds, num_icu_beds, adult_icu_beds, pedi_icu_beds, bed_utilization, avg_ventilator_usage, potential_increase_in_bed_capac, latitude, longtitude]
Index: []

[0 rows x 23 columns]

In [38]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM testing_data_usa_statesstates_daily",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [39]:
response

{'QueryExecutionId': '94844fd5-43be-45ad-a1a7-2b6f607c4edf',
 'ResponseMetadata': {'RequestId': '5145bee5-bb8a-4fd2-81e0-1c04d3950aa3',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:35 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '5145bee5-bb8a-4fd2-81e0-1c04d3950aa3'},
  'RetryAttempts': 0}}

In [40]:
testing_data_usa_statesstatesdaily = download_and_load_query_results(athena_client, response)

In [41]:
testing_data_usa_statesstatesdaily

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,20210119,UT,326221,NaN,1385896.0,NaN,totalTestsViral,2472897,638.0,12645.0,...,NaN,7.0,69.0,c4e353a904e4bb014f1155a257dd31d5bd87d31f,0.0,0.0,0.0,0.0,0.0,NaN
2681,20210119,VA,451076,84917.0,NaN,350.0,totalTestEncountersViral,4878157,3173.0,20066.0,...,NaN,59.0,84.0,1ecd4c4abd7f4e6777e897a255f6d1fb76a7d189,0.0,0.0,0.0,0.0,0.0,NaN
2682,20210119,VI,2260,NaN,37119.0,112.0,posNeg,39379,NaN,NaN,...,NaN,0.0,0.0,12b2c89922709ee808c87895e10d96bf0fdf4d69,0.0,0.0,0.0,0.0,0.0,NaN
2683,20210119,VT,10321,262.0,280334.0,NaN,totalTestsViral,813355,43.0,NaN,...,NaN,0.0,0.0,b42f5e0224e297b2500be4a69fc6d73b9a93c9f7,0.0,0.0,0.0,0.0,0.0,NaN
2684,20210119,WA,289939,12535.0,NaN,NaN,totalTestEncountersViral,4233758,1066.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM testing_data_usa_statesus_states",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [43]:
response

{'QueryExecutionId': '3807d604-3837-4512-9c08-09dc012c1de1',
 'ResponseMetadata': {'RequestId': '5f6385ce-342f-4bf1-8134-a7a61ac76fad',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:47 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '5f6385ce-342f-4bf1-8134-a7a61ac76fad'},
  'RetryAttempts': 0}}

In [44]:
testing_data_usa_stateus_states = download_and_load_query_results(athena_client, response)

In [45]:
testing_data_usa_stateus_states

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
3749  2020-05-09       Virginia    51  23196     827
3750  2020-05-09     Washington    53  17763     925
3751  2020-05-09  West Virginia    54   1347      53
3752  2020-05-09      Wisconsin    55   9939     398
3753  2020-05-09        Wyoming    56    653       7

[3754 rows x 5 columns]

In [46]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM usa_hospital_bedsstates_daily",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [47]:
response

{'QueryExecutionId': '793640ae-611a-422c-a6f4-d5e0bf4105c9',
 'ResponseMetadata': {'RequestId': 'e3357f11-0313-43e6-abed-b1c82514d89e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:57:52 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'e3357f11-0313-43e6-abed-b1c82514d89e'},
  'RetryAttempts': 0}}

In [48]:
usa_hospital_bedstates_daily = download_and_load_query_results(athena_client, response)

In [49]:
usa_hospital_bedstates_daily

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,20210119,UT,326221,NaN,1385896.0,NaN,totalTestsViral,2472897,638.0,12645.0,...,NaN,7.0,69.0,c4e353a904e4bb014f1155a257dd31d5bd87d31f,0.0,0.0,0.0,0.0,0.0,NaN
2681,20210119,VA,451076,84917.0,NaN,350.0,totalTestEncountersViral,4878157,3173.0,20066.0,...,NaN,59.0,84.0,1ecd4c4abd7f4e6777e897a255f6d1fb76a7d189,0.0,0.0,0.0,0.0,0.0,NaN
2682,20210119,VI,2260,NaN,37119.0,112.0,posNeg,39379,NaN,NaN,...,NaN,0.0,0.0,12b2c89922709ee808c87895e10d96bf0fdf4d69,0.0,0.0,0.0,0.0,0.0,NaN
2683,20210119,VT,10321,262.0,280334.0,NaN,totalTestsViral,813355,43.0,NaN,...,NaN,0.0,0.0,b42f5e0224e297b2500be4a69fc6d73b9a93c9f7,0.0,0.0,0.0,0.0,0.0,NaN
2684,20210119,WA,289939,12535.0,NaN,NaN,totalTestEncountersViral,4233758,1066.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM usa_hospital_bedsus_states",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [51]:
response

{'QueryExecutionId': '5e61cd7d-5df5-4c63-ac4a-360857f652fb',
 'ResponseMetadata': {'RequestId': '24997f85-bf52-4bc4-92aa-fee6a36e78de',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:58:24 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '24997f85-bf52-4bc4-92aa-fee6a36e78de'},
  'RetryAttempts': 0}}

In [52]:
usa_hospital_bedus_states = download_and_load_query_results(athena_client, response)

In [53]:
usa_hospital_bedus_states

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
3749  2020-05-09       Virginia    51  23196     827
3750  2020-05-09     Washington    53  17763     925
3751  2020-05-09  West Virginia    54   1347      53
3752  2020-05-09      Wisconsin    55   9939     398
3753  2020-05-09        Wyoming    56    653       7

[3754 rows x 5 columns]

In [54]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM hrearc_usa_hospital_beds",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [55]:
response

{'QueryExecutionId': '3c56379a-394e-41f6-b9f5-4cc437053321',
 'ResponseMetadata': {'RequestId': 'eaab963a-d183-4293-a560-43c37c4b1051',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:58:28 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'eaab963a-d183-4293-a560-43c37c4b1051'},
  'RetryAttempts': 0}}

In [56]:
usa_hospital_bedus_geojson = download_and_load_query_results(athena_client, response)

In [57]:
usa_hospital_bedus_geojson

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,NaN,"""Phoenix VA Health Care System (AKA Carl T Hay...","""VA Hospital""","""650 E Indian School Rd""","""null""","""Phoenix""","""AZ""",NaN,"""Maricopa""","""Arizona""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"""Southern Arizona VA Health Care System""","""VA Hospital""","""3601 S 6th Ave""","""null""","""Tucson""","""AZ""",NaN,"""Pima""","""Arizona""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"""VA Central California Health Care System""","""VA Hospital""","""2615 E Clinton Ave""","""null""","""Fresno""","""CA""",NaN,"""Fresno""","""California""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,"""VA Connecticut Healthcare System - West Haven...","""VA Hospital""","""950 Campbell Ave""","""null""","""West Haven""","""CT""",NaN,"""New Haven""","""Connecticut""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,"""Wilmington VA Medical Center""","""VA Hospital""","""1601 Kirkwood Hwy""","""null""","""Wilmington""","""DE""",NaN,"""New Castle""","""Delaware""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,NaN,"""Mease Countryside Hospital""","""Short Term Acute Care Hospital""","""3231 Mcmullen Booth Rd""","""null""","""Safety Harbor""","""FL""",NaN,"""Pinellas""","""Florida""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825,NaN,"""Northside Hospital""","""Short Term Acute Care Hospital""","""6000 49th St N""","""null""","""St Petersburg""","""FL""",NaN,"""Pinellas""","""Florida""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,NaN,"""Largo Medical Center""","""Short Term Acute Care Hospital""","""201 14th St Sw""","""null""","""Largo""","""FL""",NaN,"""Pinellas""","""Florida""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,NaN,"""St Petersburg General Hospital""","""Short Term Acute Care Hospital""","""6500 38th Ave N""","""null""","""Kenneth City""","""FL""",NaN,"""Pinellas""","""Florida""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,NaN,"""Palms of Pasadena Hospital""","""Short Term Acute Care Hospital""","""1501 Pasadena Ave S""","""null""","""South Pasadena""","""FL""",NaN,"""Pinellas""","""Florida""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
static_datastate_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [59]:
new_header = static_datastate_abv.iloc[0]

In [60]:
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [61]:
static_datastate_abv = static_datastate_abv[1:]
static_datastate_abv.columns = new_header

In [62]:
static_datastate_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [63]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM jugcsv",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [64]:
response

{'QueryExecutionId': 'ea3fab56-4ae2-4ec4-8d81-0b49b0356ae9',
 'ResponseMetadata': {'RequestId': '893893ee-3d2d-4b77-ad46-b8873e147537',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:58:31 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '893893ee-3d2d-4b77-ad46-b8873e147537'},
  'RetryAttempts': 0}}

In [65]:
enigma___jhud = download_and_load_query_results(athena_client, response)

In [66]:
enigma___jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"

In [67]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM withlastrowenigmajhudwithlastrow",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [68]:
response

{'QueryExecutionId': '081fa601-4b95-4478-bac1-9a84d148f3d2',
 'ResponseMetadata': {'RequestId': 'b2a0f9f8-de01-475c-8c53-d0fd1b2f93ea',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:58:51 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b2a0f9f8-de01-475c-8c53-d0fd1b2f93ea'},
  'RetryAttempts': 0}}

In [69]:
ejhud = download_and_load_query_results(athena_client, response)

In [70]:
ejhud

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"
...,...,...,...,...,...,...,...,...,...,...,...,...
50979,NaN,NaN,Martinique,France,2020-04-05T23:06:26,14.642,-61.024,149.0,4.0,50.0,95.0,"""Martinique"
50980,NaN,NaN,Mayotte,France,2020-04-05T23:06:26,-12.828,45.166,147.0,2.0,14.0,131.0,"""Mayotte"
50981,NaN,NaN,Montserrat,United Kingdom,2020-04-05T23:06:26,16.742,-62.187,6.0,0.0,0.0,6.0,"""Montserrat"
50982,NaN,NaN,New Brunswick,Canada,2020-04-05T23:13:28,46.565,-66.462,98.0,0.0,0.0,0.0,"""New Brunswick"
50983,NaN,NaN,New Caledon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
fact_covid1 = enigma___jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
fact_covid2 = testing_data_usa_statesstatesdaily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
fact_covid= pd.merge(fact_covid1, fact_covid2, on= 'fips', how = 'inner')

In [72]:
fact_covid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [73]:
fact_covid.shape

(9062, 13)

In [74]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM ny_times_data_inusaus_county",
    QueryExecutionContext = {"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [75]:
response

{'QueryExecutionId': '6a5776a2-e506-4cbf-b8ba-a27c2c393659',
 'ResponseMetadata': {'RequestId': 'b291db08-c6f9-4f23-b9d1-75988994630b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 01 Nov 2023 09:59:05 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b291db08-c6f9-4f23-b9d1-75988994630b'},
  'RetryAttempts': 0}}

In [76]:
ny_times_data_inusa_country = download_and_load_query_results(athena_client, response)

In [77]:
ny_times_data_inusa_country

             date     county       state     fips  cases  deaths
0      2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1      2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2      2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3      2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4      2020-01-24  Snohomish  Washington  53061.0    1.0     0.0
...           ...        ...         ...      ...    ...     ...
26895  2020-04-02    Lincoln    Kentucky  21137.0    1.0     0.0
26896  2020-04-02      Logan    Kentucky  21141.0    2.0     0.0
26897  2020-04-02       Lyon    Kentucky  21143.0    2.0     0.0
26898  2020-04-02    Madison    Kentucky  21151.0   12.0     0.0
26899  2020-04-02     Marion         Ken      NaN    NaN     NaN

[26900 rows x 6 columns]

In [78]:
dim_region1 = enigma___jhud[['fips','province_state','country_region','latitude','longitude']]
dim_region2 = ny_times_data_inusa_country[['fips','county','state']]
dim_region= pd.merge(dim_region1, dim_region2, on= 'fips', how = 'inner')

In [79]:
dim_hospital = usa_hospital_bedus_geojson[['fips','state_name','latitude','longtitude','hq_address','hospital_name', 'hospital_type', 'hq_city','hq_state']]

In [80]:
dimdate = testing_data_usa_statesstatesdaily[['fips','date']]

In [81]:
dimdate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [82]:
dimdate['date'] = pd.to_datetime(dimdate['date'],format = '%Y%m%d')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_10292\851242277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimdate['date'] = pd.to_datetime(dimdate['date'],format = '%Y%m%d')

In [83]:
dimdate.head()

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [84]:
dimdate["year"] = dimdate['date'].dt.year
dimdate["month"] = dimdate['date'].dt.month
dimdate["day_of_week"] = dimdate['date'].dt.dayofweek

C:\Users\lenovo\AppData\Local\Temp\ipykernel_10292\1184381008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimdate["year"] = dimdate['date'].dt.year
C:\Users\lenovo\AppData\Local\Temp\ipykernel_10292\1184381008.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimdate["month"] = dimdate['date'].dt.month
C:\Users\lenovo\AppData\Local\Temp\ipykernel_10292\1184381008.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimdate["day_of_week"] = dimdate['date'].dt.dayofweek

In [85]:
dimdate.head()

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [86]:
dim_hospital.head()

,fips,state_name,latitude,longtitude,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,NaN,"""Arizona""",NaN,NaN,"""650 E Indian School Rd""","""Phoenix VA Health Care System (AKA Carl T Hay...","""VA Hospital""","""Phoenix""","""AZ"""
1,NaN,"""Arizona""",NaN,NaN,"""3601 S 6th Ave""","""Southern Arizona VA Health Care System""","""VA Hospital""","""Tucson""","""AZ"""
2,NaN,"""California""",NaN,NaN,"""2615 E Clinton Ave""","""VA Central California Health Care System""","""VA Hospital""","""Fresno""","""CA"""
3,NaN,"""Connecticut""",NaN,NaN,"""950 Campbell Ave""","""VA Connecticut Healthcare System - West Haven...","""VA Hospital""","""West Haven""","""CT"""
4,NaN,"""Delaware""",NaN,NaN,"""1601 Kirkwood Hwy""","""Wilmington VA Medical Center""","""VA Hospital""","""Wilmington""","""DE"""

In [87]:
dim_region.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

In [88]:
fact_covid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [89]:
bucket = 'pandasoutputcovid'

In [90]:
csv_buffer = StringIO()
fact_covid.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'Output1/factcovid').put(Body = csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'H1022QXQQBRTDA3P',
  'HostId': '3YgZy7N+QmndgOoaI45r2lQaCOs8a5bsS+jJhu0d92zfYQ/X9PROdTnUKQ22H3ls8E1EsALq2oI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '3YgZy7N+QmndgOoaI45r2lQaCOs8a5bsS+jJhu0d92zfYQ/X9PROdTnUKQ22H3ls8E1EsALq2oI=',
   'x-amz-request-id': 'H1022QXQQBRTDA3P',
   'date': 'Wed, 01 Nov 2023 09:59:22 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"09ccf5b0cf4b8360f9e524579baddbec"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"09ccf5b0cf4b8360f9e524579baddbec"',
 'ServerSideEncryption': 'AES256'}

In [91]:
csv_buffer = StringIO()
dim_hospital.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'Output1/DimHospital').put(Body = csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'MV0NNA267PS7B6VB',
  'HostId': 'V4INIdrBTOtW3zM8ywX/KkPr0FUM5WFPh208qj4rRxxEgkw/CYv4gaxgJo80F2FqojpbeoMUdp4WHoT8qc/ImA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'V4INIdrBTOtW3zM8ywX/KkPr0FUM5WFPh208qj4rRxxEgkw/CYv4gaxgJo80F2FqojpbeoMUdp4WHoT8qc/ImA==',
   'x-amz-request-id': 'MV0NNA267PS7B6VB',
   'date': 'Wed, 01 Nov 2023 09:59:26 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"10c1e048795d307d152c7a879cea08ba"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"10c1e048795d307d152c7a879cea08ba"',
 'ServerSideEncryption': 'AES256'}

In [92]:
csv_buffer = StringIO()
dimdate.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'Output1/Dimdate').put(Body = csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'D3QS6S5YQFQEZSBY',
  'HostId': 'ekwJnbXsZ8wW6VUin32OZ1+BngLsMHAvsIKsdbNsdfgnpEPH6Xbp1iXbBsUUGS0H4lhXGE8RcpGwMJNSu7A/CQ==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ekwJnbXsZ8wW6VUin32OZ1+BngLsMHAvsIKsdbNsdfgnpEPH6Xbp1iXbBsUUGS0H4lhXGE8RcpGwMJNSu7A/CQ==',
   'x-amz-request-id': 'D3QS6S5YQFQEZSBY',
   'date': 'Wed, 01 Nov 2023 09:59:28 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"19eb0b77e7f7441c686829bc3fd1a906"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"19eb0b77e7f7441c686829bc3fd1a906"',
 'ServerSideEncryption': 'AES256'}

In [93]:
dim_region1 = ejhud[['fips','province_state','country_region','latitude','longitude']]
dim_region2 = ny_times_data_inusa_country[['fips','county','state']]
dim_regiona= pd.merge(dim_region1, dim_region2, on= 'fips', how = 'inner')

In [94]:
dim_region

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York
...,...,...,...,...,...,...,...
3713602,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3713603,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3713604,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3713605,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3713606,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming

In [95]:
dim_regiona

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York
...,...,...,...,...,...,...,...
3714008,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3714009,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3714010,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3714011,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
3714012,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming

In [96]:
csv_buffer = StringIO()
dim_regiona.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'Output1/DimRegiona').put(Body = csv_buffer.getvalue())

KeyboardInterrupt:

In [97]:
dimdatesql = pd.io.sql.get_schema(dimdate.reset_index(), 'dimdate')
print(''.join(dimdatesql))

CREATE TABLE "dimdate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [98]:
dimhospitalsql = pd.io.sql.get_schema(dim_hospital.reset_index(), 'dimhospital')
print(''.join(dimhospitalsql))

CREATE TABLE "dimhospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [99]:
fact_covidsql = pd.io.sql.get_schema(fact_covid.reset_index(), 'factcovid')
print(''.join(fact_covidsql))

CREATE TABLE "factcovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [100]:
dim_regionasql = pd.io.sql.get_schema(dim_regiona.reset_index(), 'dimregion')
print(''.join(dim_regionasql))

CREATE TABLE "dimregion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [101]:
pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\python311\lib\site-packages (2.0.914)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\python311\lib\site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from redshift_connector) (2023.3)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\python311\lib\site-packages (from redshift_connector) (4.12.2)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\python311\lib\site-packages (from redshift_connector) (1.28.59)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\python311\lib\site-packages (from redshift_connector) (2.31.0)
Requirement already satisfied: lxml>=4.6.5 in c:\python311\lib\site-packages (from redshift_connector) (4.9.3)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\python311\lib\site-packages (from redshift_connector) (1.31.59)
Requirement already satisfied: packaging in c:\python311\lib\site-packages (from redshift_connector) (23.1)
Requirement already satisfied: setuptools in c:\python311\lib\site-packages (from redshift_connector) (65.5.0)
Requirement already satisfied: soupsieve>1.2 in c:\python311\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.4.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\python311\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in c:\python311\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.7.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\python311\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\python311\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.17)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python311\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\python311\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\python311\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2023.7.22)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\python311\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip